/* header-section-start */
.header-section{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}


.list-items{
    display: flex;
    list-style: none;
    gap: 48px;
   

}
.list-section{
    margin: auto 0;
}
.list-text{
    color: rgba(137, 135, 161, 1);
}
.list-text-home{
    color: rgba(37, 36, 50, 1);
    font-weight: 600;
}
/* header-section-end*/