/* header-section-start */
.header-section{
    display: flex;
    justify-content: space-between;
    margin: 30px 150px 120px 150px;
}


.list-items{
    display: flex;
    list-style: none;
    gap: 48px;
   

}
.list-section{
    margin: auto 0;
}
.list-text{
    color: rgba(137, 135, 161, 1);
}
.list-text-home{
    color: rgba(37, 36, 50, 1);
    font-weight: 600;
}
.fa-solid{
    margin-right: 2px;
}
/* header-section-end*/

/* fresh-flower-section-start */
.fresh-flower-cointainer{
    display: flex;
    margin: 0px 150px 120px 150px;
    justify-content: center;
    align-items: center;
}
.fresh-flower-heading{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 13px;
}
span{
    color: rgba(233, 90, 8, 1);
}
.fresh-flower-paragraph{
    color:rgba(0, 0, 0, 0.5) ;
    font-size:1.4rem ;
    
}

.heroimage{
    height: 355px;
    width: 570px;
}

/* fresh-flower-section-end */
/* plant-section-start */
.product-image{
    width: 100%;
    height: auto;
    margin-bottom:0.625rem;
}
.plant-grid{
    display: grid;
    grid-template: repeat(4,1fr)/repeat(4,1fr);
    column-gap: 20px;
    row-gap: 30px;
}
.plant-section{
    margin: 0px 150px;
}
.plant-section-headings{
    font-size: 3.1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}
.plant-section-paragraph{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 49px;
}
.lily-blossom{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #111111;
}
.usd{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #111111;
}
button.cart-btn{
    width: 100%;
    background-color: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;

}
/* plant-section-end */

/* lover-section-start */
.lover{
    margin: 150px;
}
.flower-plant-section{
    display: flex;
}
.flower-plant-heading{
    color: rgba(0,0,0,1);
    font-size: 50px;
    font-weight: 700;

}
.flower-plant-paragraph{
    color: rgba(0, 0, 0, 0.5);
}
.flower-plant-text{
    width: 540px;
    height: 521px;
    padding: 38px 0px 38px 40px;
    align-items: center;
    justify-content: center;
    
}
    
    /* latest-deals-section-start */
   
    .card1{
        background-image: url(B12A02-Responsive-Flowers/assets/deal-bloom.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        
        

    }
    
    
    
    
    
